@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f1 !important;
}

.bg-white {
  background-color: #fff !important;
}

nav {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.card {
  border-radius: 0.75rem !important;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}
.user-avatar {
  position: relative;
  margin-bottom: 0;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  border-radius: 4rem;
  background-color: #fff;
  vertical-align: middle;
}

.user-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
}

.error-message {
  font-size: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
