@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e7ed !important;
}

.bg-white {
  background-color: #e5e7ed !important;
}

/* nav {
  padding-left: 40px !important;
  padding-right: 40px !important;
} */

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.card {
  border-radius: 0.75rem !important;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}
.user-avatar {
  position: relative;
  margin-bottom: 0;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  border-radius: 4rem;
  background-color: #fff;
  vertical-align: middle;
}

.user-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4rem;
}

.error-message {
  font-size: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* main page */
#sidebar-wrapper {
  background-color: #fff;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.clickable {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.subLink {
  padding: 10px 10px 10px 40px;
}
.subLink a {
  color: #495057;
  text-decoration: none;
}

.subLink:hover {
  background-color: aliceblue;
}

.transition-collapse {
  transition: all 0.25s ease-out;
}

.dashboardHeading {
  font-weight: 900;
}

.dashboardCardBody {
  padding: 32px;
}

.btn-primary {
  background-color: #2012fe;
  border-color: #2012fe;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #2012fe;
  border-color: #2012fe;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2212fe8c;
  border-color: #2212fe8c;
}

.alertNoPadding {
  padding: 0 !important;
}

.spinner {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
